@use "constants" as *;

main.about {
  background: $blue;
  overflow-x: hidden;
  position: relative;

  section {
    position: relative;

    &:not(#utopias) {
      h2 {
        color: $white;
      }
    }
  }

  #headline-vector {
    position: absolute;
    max-width: 100%;
    right: 0;
  }

  #utopias {
    padding: 6rem 1.5rem 2rem;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;

    #headline-eng {
      color: $white;
    }

    #c-statement {
      margin-top: 4rem;
      z-index: 1;

      .p1 {
        margin-bottom: 1rem;
      }
    }
  }

  #mission {
  }

  #history {
  }

  #people {
    z-index: 1;
    position: relative;

    & > * {
      z-index: 10;
    }

    a {
      color: $dark-green;
    }

    h2 {
      margin-bottom: 1rem;
    }

    h3 {
    }

    .staff-item {
      .staff-links {
        display: block;
      }
    }

    .thinkers {
      margin-top: 3rem;

      .thinkers-title {
        margin-bottom: 0.5rem;
      }

      .thinker-item {
        .thinker-name {
        }

        .thinker-links {
          display: flex;
          gap: 1rem;
        }
      }
    }

    // color: $l;

    .staff-item,
    .thinker-item {
      margin-bottom: 1rem;
      border-top: 1px solid $dark-blue;
      padding-top: 0.5rem;
    }

    #blog-button {
      margin-top: 1.5rem;
    }
  }

  #partners {
    background: linear-gradient($light-blue 0%, #5dd3ff 100%);
    position: relative;
    padding: 2rem 1.5rem;

    a,
    p,
    h2 {
      color: $dark-blue;
    }

    &::before {
      content: "";

      // Z-index on children causing glitch with body background, necessitates a z-index on ::before
      z-index: -1;
      position: absolute;
      width: 100%;
      inset: 0;
      opacity: 0.3;
    }

    // The following works on every other section

    // & > * {
    //   z-index: 10;
    // }

    h2 {
      margin-bottom: 1rem;
    }

    .partner-container {
      border-top: 1px solid $dark-blue;

      img {
        max-width: 100%;
        height: auto;
        padding: 0 0;
      }

      margin-bottom: 3rem;

      .partner {
        &:last-child {
          // Set no margin on the last partner area
          margin-bottom: 0;
        }
      }
    }

    .partner-logo {
      margin-bottom: 1.5rem;
      max-width: 100%;
    }

    .button {
      margin-top: 1rem;
      color: $lightest-blue;
    }
  }

  #support {
    z-index: 1;
    position: relative;

    // &::before {
    //   content: "";
    //   position: absolute;
    //   width: 100%;
    //   inset: 0;
    //   opacity: 0.25;
    // }

    & > * {
      z-index: 10;
    }

    a {
      color: $black;

      &:visited {
        color: #443f43;
      }
    }

    h2 {
      margin-bottom: 2rem;
    }

    h3 {
      color: $white;
      margin-bottom: 1rem;
    }

    #dedication {
      margin-bottom: 2rem;
    }

    #thanks {
      margin-bottom: 2rem;
    }
  }

  .cloud {
    z-index: 0;
    position: absolute;
    overflow-x: hidden;
    &#cloud-01 {
      top: 52vw;
      right: 36vw;
      height: 50vw;
    }
    &#cloud-02 {
      height: 35vw;
      top: -20vw;
      right: 19vw;
    }
    &#cloud-03 {
      bottom: 18vw;
      left: -15vw;
      height: 46vw;
    }
    &#cloud-04 {
      bottom: 12vw;
      left: 44vw;
      height: 22vw;
    }
  }
}
