@use "constants" as *;

main.about {
  background: $blue;
  overflow: hidden;
  position: relative;
  padding-bottom: 12rem;

  section {
    position: relative;
    z-index: 1;

    &:not(#utopias) {
      h2 {
        color: $white;
        margin-bottom: 1rem;
      }
    }

    .parallax {
      z-index: -2;

      &.ellipse-dot {
        z-index: -1;
      }
    }
  }

  // position parallax elements

  #about-ellipse-1 {
    right: 10vh;
  }

  #about-ellipse-2 {
    display: none;
  }

  #about-ellipse-3 {
    right: 18vh;
  }

  #ellipse-headline {
    height: clamp(6rem, 30vh, 19rem);
    left: -9vh;
  }

  #ellipse-lake {
    height: clamp(5rem, 33vh, 19rem);
    right: 10vh;
    bottom: -40vh;
    opacity: 0.6;
  }

  #ellipse-yellow-pink {
    right: 4vh;
    bottom: -50vh;
  }

  #ellipse-blue-green {
    left: 15vh;
  }

  #ellipse-city {
    height: clamp(5rem, 28vh, 19rem);
    opacity: 0.6;
    left: 25vh;
  }

  #ellipse-dark-blue {
    right: -15vh;
  }

  #ellipse-yellow-orng {
    left: 8vh;
    bottom: -58vh;
  }

  #ellipse-flowers {
    left: 16vh;
    bottom: -30vh;
  }

  #headline-vector {
    position: absolute;
    max-width: 100%;
    min-width: 75%;
    right: -2px;
  }

  #utopias {
    padding: 6rem 1.5rem 2rem;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;

    #headline-eng {
      color: $white;
      margin-bottom: 2rem;
    }

    #c-statement {
      margin-top: 4rem;
      z-index: 1;

      .p1 {
        margin-bottom: 1rem;
      }
    }
  }

  #mission {
  }

  #history {
  }

  #people {
    z-index: 1;
    position: relative;

    & > * {
      z-index: 10;
    }

    a {
      color: $dark-green;
    }

    .staff-item,
    .thinker-item {
      margin-bottom: 1rem;
      border-top: 1px solid $light-blue;
      padding-top: 1rem;
    }

    .staff-item .staff-links,
    .thinker-item .thinker-links {
      display: flex;
      flex-flow: row wrap;
      gap: 0 1rem;
    }

    #thinkers {
      margin-top: 3rem;

      #thinkers-title {
        color: $white;
        margin-bottom: 0.5rem;
      }
    }

    // #blog-button {
    //   margin-top: 1.5rem;
    // }
  }

  #dedication {
    position: relative;

    a,
    p {
      color: $dark-green;
    }

    // &::before {
    //   content: "";
    //
    //   // Z-index on children causing glitch with body background, necessitates a z-index on ::before
    //   z-index: -1;
    //   position: absolute;
    //   width: 100%;
    //   inset: 0;
    //   opacity: 0.3;
    // }

    // The following works on every other section

    // & > * {
    //   z-index: 10;
    // }

    .partner-container {
      border-top: 1px solid $dark-blue;

      img {
        max-width: 100%;
        height: auto;
        padding: 0 0;
      }

      margin-bottom: 3rem;

      &:last-child {
        // Set no margin on the last partner area
        margin-bottom: 0;
      }
    }

    .partner-logo {
      margin-bottom: 1.5rem;
      max-width: 100%;
    }

    .button {
      margin-top: 1rem;
    }
  }

  #support {
    z-index: 1;
    position: relative;

    & > * {
      z-index: 10;
    }

    a {
      color: $black;

      &:visited {
        color: #443f43;
      }
    }

    h3 {
      color: $white;
      margin-bottom: 1rem;
    }

    #support-copy {
      margin-bottom: 2rem;
    }

    #thanks {
      margin-bottom: 2rem;
    }
  }

  .cloud {
    z-index: 0;
    position: absolute;
    overflow-x: hidden;
    &#cloud-01 {
      top: 52vw;
      right: 36vw;
      height: 50vw;
    }
    &#cloud-02 {
      height: 35vw;
      top: -20vw;
      right: 19vw;
    }
    &#cloud-03 {
      bottom: 18vw;
      left: -15vw;
      height: 46vw;
    }
    &#cloud-04 {
      bottom: 12vw;
      left: 44vw;
      height: 22vw;
    }
  }
}
