@use "constants" as *;

main.artist-listing {
  background: $lemon-lime;
  padding: 6rem 0;

  #artists {
    span.artist-letter {
      margin-bottom: 1rem;
    }

    .artist-container {
      border-top: 1px solid $bright-green;
      padding: 1rem 0;

      .button {
        margin-top: 0.5rem;
      }

      .list-thumb {
        display: none;
      }

      .artist-copy {
        h3,
        h4 {
          margin-top: 0.5rem;
        }
      }
    }

    .container-link {
      display: none;
    }
  }
}
