@use "sass:color";
@use "fonts" as *;

// Constant Colors
$coal: #2c2c2c;
$white: #fff;
$black: #000;
$dadbod-yellow: #dadb0d;
$lavender: #c7a1d8;

// 2023 Colors
$primary-orange: #f74500;
$primary-magenta: #810061;
$pink: #ff779c;
$neon-yellow: #f0fa00;
$deep-green: #05633e;
$beige: #f4d4a0;

// 2024 Colors
$dark-blue-old: #207dca;
$bright-blue-old: #50b0c9;
$navy-blue: #004056;
$deep-coral: #f96e47;
$light-coral: #ff9676;
$mustard: #e7a542;
$pink: #ffa3bc;
$beige: #f2dec4;

// 2025 Colors
$lightest-blue: #d2eff5;
$bright-blue: #0fa5dc;
$deep-blue: #0a008e;
$dark-blue: #0b0050;
$deep-purple: #320784;
$bright-purple: #7d30be;
$light-purple: #cd44e8;
$light-blue: #a9efff;

// 2026 Colors
$white: #fff;
$light-blue: #bee9fd;
$blue: #8ecdea;
$pink: #e6597d;
$dark-pink: #881a4e;
$orange: #ef803f;
$lemon-lime: #e1da64;
$bright-green: #95ac56;
$green: #348618;
$dark-green: #0d4400;
$dark-blue: #57a8ce;

// typefaces
$primary-type: "oskon", sans-serif;
$display-type: "oskon", sans-serif;
$text-type: "oskon", sans-serif;
$deg-variable: "degular-variable", sans-serif;
$deg-display: "degular-display", sans-serif;
$deg-text: "degular-text", sans-serif;

// section padding
$section-padding-720: 5.5rem;

@keyframes slide-in {
  from {
    transform: translateY(10rem);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@mixin page-slide {
  animation: slide-in 1500ms;
}

@mixin nav-links {
  font: 1rem $deg-variable;
  font-variation-settings:
    "wght" 600,
    "opsz" 40,
    "ital" 0;
}

@mixin twelve-col-grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 1rem;
  max-width: 100%;
}

@mixin four-col-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 1.5rem;
  max-width: 100%;
}

@mixin title-display {
  font: 15vw $display-type;
  font-variation-settings:
    "wght" 550,
    "opsz" 72,
    "ital" 0; // display

  line-height: 0.8em;
}

@mixin hov-schedule {
  background-image: linear-gradient(
    to left,
    transparent,
    transparent 50%,
    hsl(344deg 100% 73% / 75%) 50%,
    hsl(344deg 100% 73% / 75%)
  );
  background-position: 100% 0;
  background-size: 201% 100%;
  transition:
    background-position 0.5s ease-in-out,
    border-color 1s ease;

  &:hover {
    background-position: 0 0;
    border-color: $neon-yellow;
  }
}

@mixin padding-calc-mobile {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  width: calc(100% - 3rem);
}

@mixin padding-calc-3rem {
  padding-left: 3rem;
  padding-right: 3rem;
  width: calc(100% - 6rem);
}

@mixin padding-mobile {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

@mixin padding-3rem {
  padding-left: 3rem;
  padding-right: 3rem;
}

@function tint($color, $percentage) {
  @return color.mix(white, $color, $percentage * 1%);
}
