@font-face {
  font-family: oskon;
  src: url("assets/fonts/ZTBrosOskon90s-ExtraLight.woff2") format("woff2");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: oskon;
  src: url("assets/fonts/ZTBrosOskon90s-ExtraLtIta.woff2") format("woff2");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: oskon;
  src: url("assets/fonts/ZTBrosOskon90s-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: oskon;
  src: url("assets/fonts/ZTBrosOskon90s-LightItalic.woff2") format("woff2");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: oskon;
  src: url("assets/fonts/ZTBrosOskon90s-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: oskon;
  src: url("assets/fonts/ZTBrosOskon90s-Italic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
