@use "constants" as *;

main.home {
  // * :not(#frontpage-background) {
  //   @include page-slide;
  // }

  overflow-x: hidden;
  background: $light-blue;

  // allow parallax z-indexing
  .heading,
  #about,
  #dates,
  #artists,
  #volunteer,
  #support {
    position: relative;
    z-index: 2;
  }

  .parallax.ellipse-dot {
    z-index: 1;
    height: 6vh;
  }

  section .parallax {
    z-index: -2;

    &.ellipse-dot {
      z-index: -1;
    }
  }

  .ellipse-image {
    height: 22vh;
  }

  // position initial parallax elements
  #ellipse-1 {
    bottom: -62vh;
    left: 5vw;
  }

  #ellipse-2 {
    bottom: -31vh;
    left: 34vw;
  }

  #ellipse-3 {
    bottom: -60vh;
    right: 2vw;
  }

  #ellipse-4 {
    bottom: -40vh;
    right: 32vw;
  }

  #ellipse-5 {
    bottom: 20vh;
    right: 16vw;
  }

  #ellipse-6 {
    bottom: -120vh;
    right: 6vw;
  }

  #ellipse-7 {
    bottom: -40vh;
    right: 6vw;
  }

  #ellipse-treeline {
    bottom: -43vh;
    left: -9vw;
  }

  #ellipse-canal {
    bottom: -110vw;
    right: 3vw;
  }

  #ellipse-dome {
    bottom: -21vh;
    right: -16vw;
  }

  #vector-map {
    height: 89vh;
    bottom: -98vh;
    left: 42vw;
  }

  .heading {
    position: relative;
    min-height: 80vh;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    background: center / cover no-repeat url("assets/front-page-title.svg");

    #title {
      padding: 3rem 1.5rem;
      position: relative;
      display: flex;
      flex-flow: column wrap;
      justify-content: center;
      align-items: center;

      .title-group {
        display: flex;
        flex-flow: column nowrap;
        gap: 1rem;

        p {
          text-align: center;
          margin-bottom: 0;
        }

        #masthead {
          font-size: 28vw;
        }
      }
    }
  }

  #about,
  #dates,
  #artists,
  #volunteer,
  #support,
  #mailing-list {
    padding: 1.5rem;
    padding-top: 2rem;
  }

  #dates {
    position: relative;
    padding-top: 4rem;
    display: flex;
    flex-flow: column nowrap;

    .date-text {
      padding-bottom: 1rem;

      span {
        display: block;
      }
    }
  }

  #about {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;

    .about-text {
      .byline {
        margin-bottom: 2rem;

        span {
          display: block;
        }
      }

      div.curatorial {
        display: flex;
        flex-flow: column nowrap;
        gap: 1rem;
        padding-bottom: 1rem;

        p:last-child {
          margin-bottom: 0.5rem;
        }
      }
    }
  }

  #artists {
    .artists-heading {
      h2 {
        padding-bottom: 1rem;
        margin-bottom: 0.5rem;
      }
    }

    .artists-buttons {
      display: flex;
      flex-flow: column wrap;
      gap: 0.5rem;
    }

    .artists-list {
      li {
        margin-top: 0.5rem;
      }
    }
  }

  #volunteer {
    @include twelve-col-grid;

    gap: 1rem 0;
    padding-bottom: 6rem;

    p {
      grid-area: 1/2/ 2/8;
      padding-right: 2rem;
    }

    div.text {
      grid-area: 1/8/ 1/13;
    }
  }

  #support {
    @include twelve-col-grid;

    position: relative;
    padding-bottom: 2rem;
    margin-top: 4rem;
    margin-bottom: 6rem;

    #support-frame {
      z-index: -3;
      background-color: $lemon-lime;
      position: absolute;
      grid-column: 2/12;
      border-radius: 16px;
      width: 100%;
      height: 100%;
    }

    .tshirt {
      width: 100%;
      z-index: 1;
      grid-area: 1/1/2/13;
      justify-self: center;
    }

    #support-copy {
      grid-area: 2/3/3/11;
      z-index: 1;
      display: flex;
      flex-flow: column nowrap;
      gap: 1rem;
    }
  }

  #mailing-list {
    position: relative;
    z-index: 1;

    @include twelve-col-grid;

    gap: 1rem 0;
    padding-bottom: 6rem;
    background: $bright-blue;

    .text {
      grid-area: 1/1/ 2/12;
    }

    #mc_embed_shell {
      grid-area: 2/1/ 3/13;
      font-family: $deg-variable;

      .asterisk {
        color: red;
      }

      .indicates-required {
        text-align: right;
        font-size: 0.8rem;
      }

      .mc-field-group {
        display: flex;
        flex-direction: column;
        margin-top: 1em;

        input {
          padding: 0.5rem;
        }
      }

      .optional-parent {
        div {
          display: flex;

          input.button {
            font-size: 1.2rem;
            line-height: 1em;
            border: 1px solid $navy-blue;
            background: $navy-blue;
            color: white;
            margin-top: 1rem;
            padding: 0.5rem 1rem;
            border-radius: 1.875rem;
          }

          p {
            display: flex;
            padding-top: 1rem;
          }
        }
      }
    }
  }
}
