@use "constants" as *;

main.press {
  background: $green;
  padding: 6rem 0;

  .press-container {
    h3,
    p {
      color: $white;
    }

    &:not(:first-child) {
      margin-top: 2rem;
    }

    border-top: 1px solid $lemon-lime;

    .press-publication {
      padding: 1rem 0 0.5rem;
    }

    .press-title {
      padding: 0.5rem 0;
      border-top: 1px dashed $lemon-lime;
    }

    .press-date {
      padding: 0.5rem 0;
      border-top: 1px dashed $lemon-lime;
      margin-bottom: 0.5rem;
    }

    .button {
      margin-top: 1rem;
    }
  }
}
