@use "constants" as *;

main.public-programs {
  padding: 6rem 0;
  background-color: $green;

  .program-container {
    &:not(:first-child) {
      margin-top: 2rem;
    }

    border-top: 1px solid $lemon-lime;
    padding-top: 1rem;

    h3 {
      color: $white;
      margin-bottom: 0.75rem;
    }

    p {
      color: $white;
    }

    .date,
    .location,
    .time {
      padding: 0.5rem 0;
      border-top: 1px dashed $lemon-lime;

      h4 {
        display: none;
        color: $white;
      }

      p {
        color: $white;
      }
    }
  }
}
